/*--Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
 --*/

body {
    margin: 0;
    font-family: Gill Sans, sans-serif;
    font-size: 14pt;
    /*--font-family: 'Fira Sans Condensed', sans-serif;--*/
    background: #000;
}

body a,
.slider-info a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
}

p {
    margin: 0;
    color: #777;
    font-size: 1em;
    line-height: 1.6;
}

ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}

/* nav */

header {
    position: relative;
}

.logo_wthree a {
    color: #000;
    letter-spacing: 1px;
    border: 1px solid transparent;
    position: absolute;
    display: block;
    text-transform: capitalize;
    width: auto;
    z-index: 1;
    left: 43%;
    top: 15px;
}

/* banner */

.layer {
    background: rgba(25, 98, 106, 0.23);
    background: rgba(0, 0, 0, 0.00);
    padding: 19vw 0 0;
    min-height: 100vh;
}

.agile_banner.bg1 {
    background-image: url(../images/home3.jpg) center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.banner_text_wthree h1,
.banner_text_wthree h2 {
    text-transform: uppercase;
    color: rgba(212, 209, 209, 0.59);
    letter-spacing: 3px;
    font-size: 2.5em;
}

ul.list-inline.bnr_list_w3 li a,
a.btn-slide {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1.1em;
    background-color: #F0F0F0;
    padding: 0.5em 2em;
    border: 3px solid #000;
    font-weight: 500;
}

ul.list-inline.bnr_list_w3 li a:hover,
a.btn-slide:hover {
    transition: border 0.2s ease;
    background-color: #D3D3D3;
    border: 3px solid #000;
}

/* //banner */

/* type writer */

#text {
    font-size: 2.3em;
    color: #000;
    letter-spacing: 1px;
}

span.banner_text_w3ls {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

/* //type writer */


.cpy-right {
    background: #F0F0F0;
}

.cpy-right p,
.cpy-right a {
    color: #edad29;
    font-size: 14px;
    letter-spacing: 1px;
}

/* -- Responsive code -- */
@media screen and (max-width: 1366px) {
    .profile-title {
        font-size: 4em;
    }
    .logo_wthree a {
        left: 43%;
        top: 15px;
    }
}

@media screen and (max-width: 1280px) {
    #menu ul {
        margin-top: 100px;
    }
    .logo_wthree a {
        left: 43%;
        top: 15px;
    }
}

@media screen and (max-width: 1080px) {
    .profile-title {
        font-size: 3.8em;
        top: 12%;
    }
    .logo_wthree a {
        left: 43%;
        top: 15px;
    }
}

@media screen and (max-width: 1050px) {}

@media screen and (max-width: 1024px) {
    h1.sec-title-w3 {
        color: rgba(212, 209, 209, 0.59);
        font-size: 2.5em;
    }
    .service-txt h5 {
        font-size: 2em;
        letter-spacing: 0px;
    }
    .logo_wthree a {
        left: 43%;
        top: 15px;
    }
}

@media screen and (max-width: 991px) {
    .inner-banner-agile {
        min-height: 260px;
    }
    #wrapper {
        width: 80%;
    }
    .profile-info {
        width: 85%;
    }
    .service-txt h5 {
        font-size: 1.8em;
    }
    .portfolio-categ li {
        padding: 7px 13px;
        margin: 0 0.4em 0 0;
    }
    .portfolio-area li {
        max-width: 208px;
    }
    .logo_wthree a {
        left: 43%;
        top: 15px;
    }
}

@media screen and (max-width: 900px) {
    h1.sec-title-w3 {
        letter-spacing: 1px;
    }
    .checkbox-label {
        padding: 15px 0;
    }
    .icon i {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .layer {
        padding: 26vw 0 0;
    }
    .agile_banner.bg1 {
        background-position: right;
    }
    .logo_wthree a {
        left: 43%;
        top: 15px;
    }
}

@media screen and (max-width: 800px) {
    .profile-title {
        font-size: 3.2em;
        top: 12%;
    }
    .banner_text_wthree h1,
    .banner_text_wthree h2 {
        letter-spacing: 1px;
        font-size: 2.2em;
    }
    .logo_wthree a {
        left: 43%;
        top: 15px;
    }
}

@media screen and (max-width: 768px) {
    #text {
        font-size: 2em;
    }
    .logo_wthree a {
        left: 43%;
        top: 15px;
    }
}

@media screen and (max-width: 736px) {
    h1.sec-title-w3 {
        font-size: 2.2em;
    }
    .logo_wthree a {
        left: 43%;
        top: 15px;
    }
    .bar-group,
    .x-axis li {
        width: 10%;
    }
    .profile-info {
        top: 28%;
        width: 100%;
        right: -15px;
    }
    .profile-title {
        font-size: 3em;
        top: 6%;
    }
    .portfolio-categ li {
        margin: 0.4em;
        font-size: 0.9em;
    }
    .portfolio-area li {
        max-width: 148px;
    }
    .layer {
        padding: 34vw 0 0;
    }
}

@media screen and (max-width: 667px) {
    .inner-banner-agile {
        min-height: 220px;
    }
    .logo_wthree a {
        left: 40%;
        top: 15px;
    }
    .wthree-inner-sec {
        margin-top: -90px;
        padding: 1.5em;
    }
    .service-txt h5 {
        font-size: 1.6em;
        margin-top: 2em;
    }
}

@media screen and (max-width: 640px) {
    .profile-title {
        font-size: 2.8em;
    }
    .logo_wthree a {
        left: 40%;
        top: 15px;
    }
    .layer {
        padding: 40vw 0 0;
    }
}

@media screen and (max-width: 568px) {
    h1.sec-title-w3 {
        font-size: 2em;
    }
    .logo_wthree a {
        left: 40%;
        top: 15px;
    }
    .form-wrapper {
        padding: 2em;
    }
    .about-bot-w3l {
        padding-bottom: 3em;
    }
    .profile-info {
        top: 20%;
    }
    .layer {
        padding: 43vw 3vw 0;
    }
}

@media screen and (max-width: 480px) {
    .wthree-inner-sec {
        margin-top: -90px;
        padding: 1em;
    }
    .logo_wthree a {
        left: 35%;
        top: 15px;
    }
    .bar-group {
        margin: 0 0 0 30px;
    }
    .y-axis li span {
        margin: -10px 0 0 -33px;
    }
    .profile-title {
        font-size: 2.5em;
    }
    .profile-info {
        top: 22%;
    }
    .wthree-inner-sec.about-bot-w3ls {
        padding-bottom: 9em;
    }
    .portfolio-area li {
        max-width: 133px;
    }
    .portfolio-categ li {
        margin: 0.4em 0.4em 0.4em 0;
    }
    #text {
        font-size: 1.8em;
        height: 90px;
    }
    .layer {
        padding: 50vw 3vw 0;
    }
}

@media screen and (max-width: 414px) {
    ul.list-inline.bnr_list_w3 li a,
    a.btn-slide {
        padding: 0.5em 1em;
    }
    .logo_wthree a {
        left: 35%;
        top: 15px;
    }
    .bar-group,
    .x-axis li {
        width: 7%;
    }
    .row.pro-contact {
        display: block;
    }
    .wthree-inner-sec.about-bot-w3ls {
        padding-bottom: 13em;
    }
    .profile-info .stats .stat .number {
        font-size: 1.8em;
    }
    .service-txt h5 {
        font-size: 1.4em;
    }
    .portfolio-area li {
        max-width: 167px;
    }
    .layer {
        padding: 58vw 3vw 0;
    }
}

@media screen and (max-width: 384px) {
    .form-wrapper {
        padding: 1em;
    }
    .logo_wthree a {
        left: 35%;
        top: 15px;
    }
    .bar-group,
    .x-axis li {
        width: 5%;
    }
    .profile-info.row {
        display: block;
    }
    .link_about {
        margin-top: 1em;
    }
    .profile-info {
        padding: 2rem 1rem;
    }
    .wthree-inner-sec.about-bot-w3ls {
        padding-bottom: 17em;
    }
    .profile-title {
        font-size: 2.2em;
    }
    .portfolio-categ li {
        margin: 0 0.2em 0.2em 0;
        font-size: 0.85em;
    }
    .portfolio-area li {
        max-width: 304px;
    }
    .banner_text_wthree h1, .banner_text_wthree h2 {
        font-size: 1.85em;
    }
}

@media screen and (max-width: 375px) {
    .portfolio-categ li {
        letter-spacing: 0.5px;
    }
    #text {
        font-size: 1.6em;
    }
    .logo_wthree a {
        left: 35%;
        top: 15px;
    }
}

@media screen and (max-width: 320px) {
    .banner_text_wthree h1, .banner_text_wthree h2 {
        font-size: 1.6em;
    }
    #text {
        font-size: 1.4em;
    }
    #wrapper {
        width: 90%;
    }
    .profile-title {
        font-size: 1.8em;
        top: 3%;
        left: 27%;
    }
    .wthree-inner-sec.about-bot-w3ls {
        padding-bottom: 24em;
    }
    .cpy-right {
        padding: 1rem;
    }
    .service-content h4,
    .service-content h2 {
        font-size: 18px;
    }
    .portfolio-categ li {
        letter-spacing: 0px;
    }
    ul.list-inline.bnr_list_w3 li a, a.btn-slide {
        padding: 0.5em 0.4em;
        font-size: 1em;
    }
    .layer {
        padding: 75vw 3vw 0;
    }
    .logo_wthree a {
        left: 30%;
        top: 15px;
    }
}

/* -- //Responsive code -- */
